<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>HOME</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>Start chat</h1> 
	<form method="post">
		<label>User name:</label>
		<input name="username" /><br />
		<input type="submit" value="go" />
	</form>
</body>
</html>