<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>PROFILE</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>Email: @ViewBag.UserName</h1>  
	<h1>Role: @ViewBag.UserRole</h1>  
</body>
</html>