<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>HOME</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>Hello world!</h1>  
	<a href="/Profile/Account/Register">Register</a>
	<a href="/Profile/Account/Login">Login</a>
</body>
</html>